/* ## BANDEAU ## */
#bandeau .titre {
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    width: 200%;    
    margin-top: -35px;
    margin-left: -125px;
}
#bandeau .titre h1 {    
    font-family: fantasy;
    color: #202020;
    font-size: 64px;
    z-index: 1;
    text-shadow: 0 4px 0 #00ecff, 0 -4px 0 #ff4045;
    margin-bottom: 0;
}
#bandeau .titre h3 {
    font-family: fantasy;
    font-size: 48px;
    color: #37e842;
    letter-spacing: 4px;
    text-shadow: 0 7px 0 #202020, 0 -4px 0 #b2ff59;
    z-index: 1;
    margin-top: 10px;
}
.bg-bandeau-carre {
    height: 250px;
    width: 250px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #00C853, #B2FF59);
    background: white;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    margin-top: auto;
    margin-bottom: auto;
}
.bg-bandeau-carre:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, #00C853, #B2FF59);
    transform: translate3d(0px, 0px, 0) scale(1.15);
    filter: blur(60px);
    opacity: var(0.75);
    transition: opacity 0.3s;
    border-radius: inherit;
}
.bg-bandeau-carre::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}