#competence {
   display: flex;
}
.voile-competence {    
    height: 30%;
    width: 100%;
    position: absolute;
    background: #B2FF59;
    opacity: 0.75;
    font-family: fantasy;
    color: white;
    font-size: 9vw;
    z-index: 5;
}
#competence ul {
   padding-left: 0;
   margin: auto;
   width: 80%;
}
#competence ul li {
   display: inline-block;
   text-align: center;
   padding: 2px;
   margin: 0;
   width: 20%;
}
#competence ul li div {
   margin: auto;
   width: 100px;
   height: 100px;
   background-repeat: no-repeat;
   background-size: 100%;
   border-radius: 50%;
   border: 2px solid white;
   box-shadow: 0px 0px 70px #aeaeae;
}
#symfony {
   background: white;
   background-image: url('../img/symfony.svg');
}
#api {
   background-image: url('../img/api.svg');
}
#database {
   background-image: url('../img/database.svg');
}
#prestashop {
   background-image: url('../img/prestashop.svg');
}
#competence ul li span {
    margin-top: 60px;
    display: block;
    font-size: 24px;
    font-family: fantasy;
    color: #aeaeae;
}