/* ## DIPLOME ## */
#diplome {    
    z-index: 1;
    display: flex;
}
.voile-diplome {    
    height: 70%;
    width: 50%;
    position: absolute;
    background: #ff4045;
    opacity: 0.75;
    font-family: fantasy;
    color: white;
    font-size: 12vw;
    z-index: 5;
}
/*#diplome h3 {
    font-family: fantasy;
    font-size: 48px;
    letter-spacing: 5px;
    text-shadow: 0 4px 0 #00ecff, 0 -4px 0 #ff4045;
    margin-bottom: 0;
    color: #0a0a0a;
    margin-bottom: 100px;
}*/
#block-diplomes {
    margin: auto;
    width: 100%;
}
.block-diplome {
    text-align: justify;
    width: 80%;
    display: flex;
    height: 20%;    
    margin-top: 5%;
    margin-bottom: 5%;
}
.block-diplome p {
    display: inline-block;
    width: 80%;
    font-size: 18px;
    font-family: monospace;
    text-align: justify;
    margin-top: auto;
    margin-bottom: auto;
    color: #202020;
    padding: 20px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #434343, #727272);
    background: #202020;
    color: #aeaeae;
    height: 100px;
}
.date {
    display: flex;
    width: 20%
}
.bg-diplome-date-carre {    
    height: 100px;
    width: 100px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #434343, #727272);
    background: #202020;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    display: inline-block;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    z-index: 1;
}
.bg-diplome-date-carre > span {
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    display: block;
    margin-left: 0px;
    margin-top: 25px;
    font-family: fantasy;
    font-size: 32px;
    letter-spacing: 5px;
    margin-bottom: 0;
    color: #aeaeae;
}
.block-diplome:hover > .date > .bg-diplome-date-carre {    
    background: #0a0a0a;
}
.block-diplome:hover > .date > .bg-diplome-date-carre:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, #00ecff, #ff4045);
    transform: translate3d(0px, 0px, 0) scale(1.15);
    filter: blur(60px);
    opacity: var(0.75);
    transition: opacity 0.3s;
    border-radius: inherit;
}
.block-diplome:hover > .date > .bg-diplome-date-carre::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
.block-diplome:hover > .date > .bg-diplome-date-carre > span {
    text-shadow: 0 4px 0 #00ecff, 0 -2px 0 #ff4045;
    color: #0a0a0a;
}
.block-diplome:hover > p {
    background: #0a0a0a;
    color: white;
    border-image-source: linear-gradient(to top, #00ecff, #ff4045);
}
