/* ## EXPERIENCES PROFESSIONNELLES ## */
#experience {
    display: flex;
}
.voile-experience {    
    height: 70%;
    width: 50%;
    position: absolute;
    background: #00ecff;
    opacity: 0.75;
    font-family: fantasy;
    color: white;
    font-size: 6vw;
    z-index: 5;
}
/*#experience h3 {
    font-family: fantasy;
    font-size: 48px;
    color: #37e842;
    letter-spacing: 4px;
    text-shadow: 0 7px 0 #202020, 0 -4px 0 #b2ff59;
    margin-bottom: 100px;
}*/
#block-experiences {
    margin: auto;
    width: 100%;
}
.block-experience {
    text-align: justify;
    width: 80%;
    display: flex;
    height: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.block-experience p {
    display: inline-block;
    width: 80%;
    font-size: 18px;
    font-family: monospace;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    color: #202020;
    padding: 20px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #434343, #727272);
    background: #202020;
    color: #aeaeae;
    height: 100px;
}
.date {
    display: flex;
    width: 20%
}
.bg-experience-date-carre {    
    height: 100px;
    width: 100px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #434343, #727272);
    background: #202020;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    display: inline-block;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 1;
}
.bg-experience-date-carre > span {
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    display: block;    
    margin-left: 5px;
    margin-top: 30px;
    font-family: fantasy;
    font-size: 15px;
    letter-spacing: 5px;
    margin-bottom: 0;
    color: #aeaeae;
}
.block-experience:hover > .date > .bg-experience-date-carre {    
    background: #37e842;
    background-image: linear-gradient(to left, #00C853, #B2FF59);
    border-image-source: linear-gradient(to left, #000, #0a0a0a);
}
.block-experience:hover > .date > .bg-experience-date-carre:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, #00C853, #B2FF59);
    transform: translate3d(0px, 0px, 0) scale(1.15);
    filter: blur(60px);
    opacity: var(0.75);
    transition: opacity 0.3s;
    border-radius: inherit;
}
.block-experience:hover > .date > .bg-experience-date-carre::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
.block-experience:hover > .date > .bg-experience-date-carre > span {
    color: #0a0a0a;
}
.block-experience:hover > p {
    background: #0a0a0a;
    color: white;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}

