/* ## INTRODUCTION ## */
#introduction {
    background-color: #202020;
    font-family: monospace;
    font-size: 24px;
}
.voile-introduction {
    height: 50%;
    width: 100%;
    position: absolute;
    background: #00C853;
    opacity: 0.75;
    font-family: fantasy;
    color: white;
    font-size: 16vw;
    z-index: 5;
}
.voile-introduction:hover{
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#introduction p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 20px;
    width: 95%;
    font-family: monospace;
    font-size: 24px;
    text-align: justify;   
    color: #aeaeae;
    border-radius: 3px;
}
#introduction p:first {
    padding-top: 50px;
}
.fa-gitlab {
    color: orange;
}
#introduction p span a{
    color: orange;
}
.path-blue {
    color: #00ecff;
}
.path-green {
    color: #00C853;
}
