/* ## NAV ## */
#nav {
    z-index: 100;
    height: 50px;
    width: 50px;
    position: fixed;    
    right: 55px;
    bottom: 45px;
    box-shadow: 5px 5px 6px black;
    background-image: linear-gradient(to left, #00C853, #B2FF59);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
#nav div {
    height: 100%;
    width: 100%;
    display: flex;
}
.nav-brands {
    margin: auto;
    font-size: 32px;
}