#projet {
    display: flex;
}
#diaporama {
    display: flex;
    width: 80%;
    height: 90%;
    margin: auto;
}
#previsualisation {
    display: inline-flex;
    background-image: url('../img/desktop.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width:20%;
    height: 100%;
}
#description {
    display: inline-flex;
    margin: auto;
    width: 70%;
}