
@import 'locomotive-scroll.css';
@import 'brands.css';
@import 'fontawesome.css';
@import 'solid.css';
@import 'nav.css';
@import 'bandeau.css';
@import 'introduction.css';
@import 'diplome.css';
@import 'experience.css';
@import 'competence.css';
@import 'projet.css';

/* ## STRUCTURE ONE PAGE ## */
html, body {
    height:100% !important;
    width:100% !important; 
    margin:0px; 
    padding:0px;
}
#content {
    height: 500% !important; 
    width: 100% !important;
}
.page {
    height:20% !important; 
    width:100% !important;
}
#loisir {
    height:100%;
}
#bandeau, #introduction, #projet, #question, #contact {
    height:50%;
}
#diplome, #experience {
    width: 50%;
    height:100%;
}
#competence {
    height: 30%;
}
#bandeau {
    display: flex;
}
#parcours {    
    display: flex;
    width: 100%;
    height: 70%;
}
body {
    text-align: center;
}
#bandeau,#experience {
    background-color: #0a0a0a;
}
#competence {
    background-color: #202020;
}
#diplome, #loisir {
    background-color: #000000;
} 
#projet, #contact {
    background-color: #eeeeee;
}

/* ## CLASS OUTIL ## */
.margin-center {
    margin-left: auto;
    margin-right: auto;
}
.link-reset {
    text-decoration: none;
}
