{% set startDate = "2017-07-04 08:00:00" %}
{% set differenceDev = date( now | date() ).diff(date(startDate)) %}
{% set ancienneteDev = differenceDev.y %}
{% set startDate = "1995-06-24 00:00:00" %}
{% set differenceAge = date( now | date() ).diff(date(startDate)) %}
{% set age = differenceAge.y %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <title>{% block title %}Portfolio{% endblock %} - Thibaut COLLIN</title>
        {% endblock %}
    </head>
    <body>
        <div id="nav">
            {% block nav %}
                <div><i class="fa-solid fa-bars nav-brands"></i></div>
            {% endblock %}
        </div>
        <div data-scroll-container id="content">
            {% block content %}
                <div data-scroll-section id="content-presentation" class="page">
                    <div data-scroll id="bandeau">
                        <div class="bg-bandeau-carre margin-center">
                            <div class="titre">
                                <h1>{{ 'Le portfolio de <br> Thibaut'|upper|raw }}</h1>
                                <h3>{{ 'Développeur web'|upper }}</h3>
                            </div>
                        </div>
                    </div>
                    <div data-scroll id="introduction" class="margin-center">
                        <div class="voile-introduction">{{ 'Introduction'|upper }}</div>
                        <p class="margin-center">
                            <b><span class="path-green">tcollin@LAPTOP-6BF4CSOC</span>:<span class="path-blue">~/.vscode/projets</span>$</b> sh bin/presentation
                            <br/>
                            <b><i>Load completed:</i> Je m'appelle Thibaut Collin, j'ai {{ age }} ans et je suis développeur informatique depuis {{ ancienneteDev }} années. 
                            Je développe surtout sur le framework Symfony et le PHP avec ses différentes technologies en général. </b></p>
                        
                        <p class="margin-center">
                            <b><span class="path-green">tcollin@LAPTOP-6BF4CSOC</span>:<span class="path-blue">~/.vscode/projets</span>$</b> sh bin/site
                            <br/>
                            <b><i>Load completed:</i> {{ 'à'|upper }} propos de site, c'est un site développé sans framework, ni CMS, il a été développé en PHP 8.1, HTML 5, CSS 3 dans un container Docker.
                            J'ai utilisé AltoRouter pour mes routes, Twig pour mes templates, Fontawesome pour des icônes graphiques.</b></p>
                            
                        <p class="margin-center">
                            <b><span class="path-green">tcollin@LAPTOP-6BF4CSOC</span>:<span class="path-blue">~/.vscode/projets</span>$</b> sh bin/gitlab
                            <br/>
                            <b><i>Load completed:</i> Vous pourrez consulter le code dans mon lien GitLab ci-dessous.</b>
                            <br/>
                            <b><i>Link:</i> Gitlab tcollin <span><i class="fa-brands fa-gitlab"></i> <u><a href="https://gitlab.com/tcollin/portfolio" class="link-reset">cliquer ici</a></u></span>.</b></p>
                    </div>
                </div>
                <div data-scroll-section id="content-parcours" class="page">
                    <div data-scroll id="parcours">
                        <div id="diplome">
                            <div class="voile-diplome">{{ 'Diplômes'|upper }}</div>
                            <div id="block-diplomes">
                                <div class="block-diplome margin-center">
                                    <p id="lp">
                                        <b>Licence professionnelle Réseaux et Télécommunications : spécialité développement web et mobile</b><br/>
                                        <i>IUT d'Orléans, Orléans La Source</i>
                                    </p>
                                    <div class="date">
                                        <div class="bg-diplome-date-carre"><span>2017</span></div>
                                    </div>
                                </div>
                                <div class="block-diplome margin-center">
                                    <p id="bts"><b>Brevet de Technicien Supérieur Services Informatiques aux Organisations : option Solutions Logicielles et Applications Métier</b><br/><i>Lycée Benjamin Franklin, Orléans</i></p>
                                    <div class="date">
                                        <div class="bg-diplome-date-carre"><span>2015</span></div>
                                    </div>
                                </div>
                                <div class="block-diplome margin-center">
                                    <p id="bac"><b>Baccalauréat Sciences et Technologies de la Gestion : option Gestion des systèmes d'information</b><br/><i>Lycée Benjamin Franklin, Orléans</i></p>
                                    <div class="date">
                                        <div class="bg-diplome-date-carre"><span>2013</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="experience">
                            <div class="voile-experience">{{ 'Expériences <br/> professionnelles'|upper|raw }}</div>
                            <div id="block-experiences">
                                <div class="block-experience margin-center">
                                    <div class="date">
                                        <div class="bg-experience-date-carre"><span>{{ 'Depuis'|upper }} 12/2017</span></div>
                                    </div>
                                    <p id="nes">
                                        - <b><u>Depuis 4 ans et 9 mois :</u> Chargé de développement informatique</b><br/>
                                        - <b><u>1 an et 9 mois :</u> Chargé de développement informatique junior</b><br/>
                                        <i>National Electronique Service, Saint-Cyr-en-Val</i>
                                    </p>
                                </div>
                                <div class="block-experience margin-center">
                                    <div class="date">
                                        <div class="bg-experience-date-carre"><span>12/2017 09/2017</span></div>
                                    </div>
                                    <p id="collecteam"><b>Analyste fonctionnel informatique junior</b><br/><i>Collecteam, La Chapelle-Saint-Mesmin</i></p>
                                </div>
                                <div class="block-experience margin-center">
                                    <div class="date">
                                        <div class="bg-experience-date-carre"><span>09/2017 09/2016</span></div>
                                    </div>
                                    <p id="acatus"><b>Apprenti développeur informatique</b><br/><i>Acatus Informatique, Orléans</i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-scroll id="competence">
                        <div class="voile-competence">{{ 'Compétences principales'|upper }}</div>
                        <ul>
                            <li><div id="symfony"></div><span>Symfony</span></li>
                            <li><div id="api"></div><span>API</span></li>
                            <li><div id="database"></div><span>PL/SQL</span></li>
                            <li><div id="prestashop"></div><span>Prestashop</span></li>
                        </ul>
                    </div>
                </div>
                <div data-scroll-section id="content-projet" class="page">
                    <div data-scroll id="projet">
                        <div id="diaporama">
                            <div id="previsualisation"></div>
                            <div id="description">
                                <ul id="liste-techno">
                                    <li>PHP</li>
                                    <li>CSS</li>
                                    <li>JS</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-scroll-section id="content-formulaire" class="page">
                    <div data-scroll id="question">
                        <h3>Question</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div data-scroll id="contact">
                        <h3>Contact</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            {% endblock %}
            <div id="footer">
                {% block footer %}
                    Copyright 2022 by <a href="http://domain.invalid/">Thibaut COLLIN</a>
                    {% block scripts %}
                        <script src="main.js"></script>
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>